@model BrosPorts.Models.Post

@{
    ViewBag.Title = "Details";
}



<fieldset class="details">
    <legend>Post Details</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Title)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Title)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Body)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Body)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.DateCreated)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.DateCreated)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ImageUrl)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ImageUrl)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Likes)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Likes)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Author.Name)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Author.Name)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.PostID }) |
 </p>
